<div class="container">
	<div class="jumbotron">
	  <div class="container">
	    <p> Black and white photos of random people's breakfast. I'm talking literally cereal. And it's being shared here.<p>Oddly saturated photos of that same road you walk past every morning. People thinking they're deep for taking a photo of a slug.</p></p>
	    <h4> Welcome to Instagram! </h4>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      	<ul class="nav navbar-nav">
      		<li><a href="posts/new"><span class="glyphicon glyphicon-plus"></span> Add a picture</a></li>
      		<li><a href="#"><span class="glyphicon glyphicon-picture"></span> View a random pic</a></li>
      		<li><a href="#"><span class="glyphicon glyphicon-star"></span> The Special Gallery</a></li>
      	</ul>
      </div>
	  </div>
	</div>
</div>
<div class="post_container">
	<% if @posts.any? %>
		<div class="posts">
				<%= render @posts %>
		</div>
	<% else %>
		No posts yet
	<% end %>
</div>